name: Trigger Azure Data Factory Pipeline

on:
  push:
    branches:
      - main
      - master

jobs:
  trigger-adf-pipeline:
    runs-on: ubuntu-latest
    environment: main

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: |
            {
              "clientId": "${{ secrets.AZURE_CLIENT_ID }}",
              "clientSecret": "${{ secrets.AZURE_CLIENT_SECRET }}",
              "subscriptionId": "${{ secrets.AZURE_SUBSCRIPTION_ID }}",
              "tenantId": "${{ secrets.AZURE_TENANT_ID }}"
            }

      - name: Trigger Azure Data Factory Pipeline
        run: |
          az datafactory pipeline create-run \
            --resource-group databricks \
            --factory-name kaushal-adf \
            --name CryptoCurrencyDataImporeter

          echo "Pipeline triggered successfully!"

      - name: Azure Logout
        if: always()
        run: az logout
